.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2C3333;
}

h1 {
  margin: 30px;
  font-family: monospace;
  text-shadow: 4px 0 #28292b;
  font-size: 5rem;
  color: #395B64;
}

p {
  font-size: 2rem;
  color: #395B64;
  font-family: monospace;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #395B64;
  text-align: right;
  font-family: monospace;

}
